<div id="budget-detail" 
  class="shrink min-h-0 overflow-y-auto bg-white" >
  <% currentParent = ""; Category.top_level.not_hidden.budget.each do |p| %>
    <% parentData = @currentData[@given_date.year][@given_date.month][:parents][p.name] %>
    <div class="border-b-8"
         data-controller="budget-detail"
         data-action="click->budget-detail#toggle">
      <div id="parent_<%= dom_id p %>"
        class="px-2 flex justify-between items-center sticky top-0 font-bold bg-white border-b">
        <div class="whitespace-nowrap overflow-hidden text-ellipsis">
          <%= p.name %>
        </div>
        <%= link_to trxes_path(period: @given_date, parent_id: p), class:"shrink-0 py-1 flex flex-col items-end" do %>
          <span class="text-xs leading-3">Available</span>
          <span class="leading-3">
            <%=presentableNumDollar(parentData[:total][:balance]) %>
          </span>
        <% end %>
      </div>
      <div id="childGroup" class="divide-y" data-budget-detail-target="childGroup">
        <% p.subcategories.not_hidden.each do |sub| %>
          <% subBalance = parentData[:subcategories][sub.name][:balance] %>
          <div id="sub_<%= dom_id sub %>" class="px-2 py-2 flex justify-between items-center font-bold">
            <span class="whitespace-nowrap overflow-hidden text-ellipsis text-sm">
              <%= sub.name %>
            </span>
            <%= link_to trxes_path(period: @given_date, category_id: sub), class:"flex flex-end gap-1 items-center" do %>
                <span class="px-2 <%= subBalance < 0 ? "text-white rounded-full bg-red-600" : "text-green-600" %>">
                  <%= presentableNum(subBalance) %>
                </span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>