<div id='budget-table-cats' class="mt-1 shrink-0 mx-1 flex flex-col gap-1 relative -bottom-[11rem]">

    <!-- middle box -->
    <div class="text-black p-0.5">
      Categories
      <%= link_to new_category_path, class:"hover:text-slate-200", data: {turbo_frame: 'modal' } do %>
        <svg class="h-5 w-5 inline-block"
            viewBox="0 0 1024 1022" 
            aria-labelledby="fgsi-ant-plus-square-title"
            title="plus-square">
          <path d="M960 1022q26 0 45-19t19-45V64q0-27-19-45.5T960 0H64Q38 0 19 18.5T0 64v894q0 26 19 45t45 19h896zm0-64H64V64h896v894zM800 479H544V223q0-13-9.5-22.5T512 191t-22.5 9.5T480 223v256H224q-13 0-22.5 9.5T192 511t9.5 22.5T224 543h256v256q0 13 9.5 22.5T512 831t22.5-9.5T544 799V543h256q13 0 22.5-9.5T832 511t-9.5-22.5T800 479z"/>
        </svg>
      <% end %>
    </div>

    <!-- categories box -->
    <div class='shadow-[inset_0_2px_4px_rgba(0,0,0,0.6)] rounded rounded-lg bg-white mt-1 grid grid-cols-1 gap-y-0.5 border-2 border-black p-1'>
      <% currentParent = ""; Category.top_level.not_hidden.budget.each do |parent| %>
          <div id = "<%= dom_id parent %>" class="bg-[#e6f4fb] text-black whitespace-nowrap">
            <svg xmlns="http://www.w3.org/2000/svg" data-sidebar-target="budgetListArrow" 
                 class="h-5 w-5 inline-block rotate-90" 
                 viewBox="0 0 16 16" 
                 fill="currentColor" 
                 title="account_arrow">
              <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
            <%= link_to parent.name, edit_category_path(parent) %>
          </div>

        <% parent.subcategories.not_hidden.each do |category| %>
          <div id="<%= dom_id category %>" class="pl-5 whitespace-nowrap">
            <%= link_to category.name, 
                  edit_category_path(category), 
                  data: {turbo_frame: 'modal' }  %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>