<% current_year = date.year %>
<% current_month = date.month %>

<% prevAvailable = data[current_year][current_month][:dashboard][:prevAvailable] %>
<% prevOverspent = data[current_year][current_month][:dashboard][:prevOverspent] %>
<% currIncome    = data[current_year][current_month][:dashboard][:currIncome] %>
<% currBudget    = data[current_year][current_month][:dashboard][:currBudget] %>
<% currAvailable = data[current_year][current_month][:dashboard][:currAvailable] %>
<% budgetAmount  = data[current_year][current_month][:total][:budget] %>
<% actualAmount  = data[current_year][current_month][:total][:actual] %>
<% balanceAmount = data[current_year][current_month][:total][:balance] %>

<div class="mx-1 flex flex-col gap-1">
    <!-- top box -->
    <div class='shadow-[inset_0_2px_4px_rgba(0,0,0,0.6)] rounded-lg border-2 border-black flex divide-x-2 divide-slate-700 bg-[#5c666d] text-[#d0d0d0]'>
      <div class="py-2 px-2 flex flex-col">
        <div class='text-2xl text-center font-bold uppercase'><%= date.strftime('%b') %></div>
        <div class='text-base text-center'><%= date.strftime('%Y') %></div>
      </div>
      <div class="grow flex flex-col">
      
        <div class="py-2 px-2 grid grid-cols-[auto,auto] gap-2 leading-none">
          <div class="font-bold text-right"><%= presentableNum(prevAvailable) %></div>
          <div class="whitespace-nowrap tracking-tight">
              <%=  (prevAvailable < 0) ? "Over" : "Not"  %>budgeted in <%= (date<<1).strftime('%b')%>
          </div>
          <div class="font-bold text-right"><%= presentableNum(prevOverspent) %></div>
          <div class="whitespace-nowrap tracking-tight">Overspent in <%= (date<<1).strftime('%b')%></div>
          <div class="font-bold text-right"><%= presentableNum(currIncome) %></div>
          <div class="whitespace-nowrap tracking-tight">Income for <%= date.strftime('%b')%></div>
          <div class="font-bold text-right"><%= presentableNum(currBudget * -1) %></div>
          <div class="whitespace-nowrap tracking-tight">Budgeted for <%= date.strftime('%b')%></div>
        </div>
        
        <div class="flex flex-col b2e1 whitespace-nowrap">
          <div class='font-bold text-2xl text-center'>= <%= presentableNum(currAvailable) %></div>
          <div class='font-bold text-xl text-center tracking-tight'>Available to Budget</div>
        </div>

      </div>
      <div class="flex flex-col divide-y-2 divide-slate-700">
        <div class="p-2 b3c1 hover:text-white hover:cursor-pointer">
          <svg viewBox="0 0 768 1024"
              class="h-5 w-5"
              fill="currentColor" 
              aria-labelledby="dhsi-ant-file-text-title" 
              id="si-ant-file-text">
            <title id="dhsi-ant-file-text-title">Add note</title>
            <path d="M538 0H77Q45 0 22.5 21.5T0 73v878q0 30 22.5 51.5T77 1024h614q32 0 54.5-21.5T768 951V257zm143 256H512V67zm10 704H77q-5 0-9-3t-4-6V73q0-3 4-6t9-3h371v192q0 26 19 45t45 19h192v631q0 3-4 6t-9 3zM160 448h256q13 0 22.5-9.5T448 416t-9.5-22.5T416 384H160q-13 0-22.5 9.5T128 416t9.5 22.5T160 448zm448 128H160q-13 0-22.5 9.5T128 608t9.5 22.5T160 640h448q14 0 23-9.5t9-22.5-9-22.5-23-9.5zM416 832H160q-13 0-22.5-9.5T128 800t9.5-22.5T160 768h256q13 0 22.5 9.5T448 800t-9.5 22.5T416 832z"/>
          </svg>
        </div>
        <div class="p-2 b3c2 hover:text-white hover:cursor-pointer">
          <svg viewBox="0 0 777.8333740234375 1180"
              class="h-5 w-5"
              fill="currentColor" 
              aria-labelledby="czsi-bootstrap-flash-title" 
              id="si-bootstrap-flash">
            <title id="czsi-bootstrap-flash-title">Update Budget Amounts</title>
            <path d="M582.667 0l9 9q8 10 5 27-3 11-79 225.5t-78 221.5l300-1q24 0 32.5 17.5t-5.5 35.5q-1 0-133.5 155t-267 312.5-138.5 162.5q-12 15-26 15h-9l-9-8q-9-11-4-32 2-9 42-123.5t79-224.5l39-110h-302q-23 0-31-19-10-21 6-41 75-86 209.5-237.5t228-257 98.5-111.5q9-16 25-16h9z"/>
          </svg>
        </div>
      </div>
    </div>

    <!-- middle box -->
    <div class="shadow-[inset_0_2px_4px_rgba(0,0,0,0.6)] rounded-lg border-2 border-black grid grid-cols-3 divide-x divide-dashed divide-black bg-[#f3f3f3] text-[#666666] leading-none text-lg text-right font-bold py-0.5">
        <div class="pr-2">
          <div>Budgeted</div>
          <div>
            <% if Trx.budgetItems.period(date).empty? %>
              <%= link_to presentableNum(budgetAmount), new_trx_path(trx: {date: "#{date}",
                                                                           memo: "Budget",
                                                                           vendor_id: "#{Vendor.find_by(name: "Budget").id}",
                                                                           account_id: "#{Account.find_by(name: "Budget").id}",
                                                                           category_id: "#{Category.find_by(name: "Split").id}"
                                                                           }) %>
            <% else %>
              <%= link_to presentableNum(budgetAmount), trx_path(Trx.budgetItems.period(date).first ) %>
            <% end %>
          </div>
        </div>
        <div class="pr-2">
          <div>Actual</div>
          <%= link_to presentableNum(actualAmount), trxes_path(period: date)  %>
        </div>
        <div class="pr-2">
          <div >Balance</div>
          <div ><%= presentableNum(balanceAmount) %></div>
        </div>
    </div>

    <!-- categories box -->
    <div class='shadow-[inset_0_2px_4px_rgba(0,0,0,0.6)] rounded rounded-lg border-2 border-black bg-white grid grid-cols-3 gap-y-0.5 p-1'>
    
      <% currentParent = ""; Category.top_level.not_hidden.budget.each do |p| %>
        <% if p != currentParent %>
          <% budgetAmount  = data[current_year][current_month][:parents][p.name][:total][:budget] %>
          <% actualAmount  = data[current_year][current_month][:parents][p.name][:total][:actual] %>
          <% balanceAmount = data[current_year][current_month][:parents][p.name][:total][:balance] %>

            <div class="<%= dom_id p %> bg-[#eff0ef] font-bold text-right" ><%=presentableNum(budgetAmount) %></div>
            <div class="<%= dom_id p %> bg-[#eff0ef] font-bold text-right" ><%=presentableNum(actualAmount) %></div>
            <div class="<%= dom_id p %> bg-[#eff0ef] font-bold text-right <%= "text-[#a25856]" if balanceAmount < 0 %>" ><%=presentableNum(balanceAmount) %></div>

        <% currentParent = p; end %>

        <% p.subcategories.not_hidden.each do |sub| %>
          <% sub_budgetAmount  = data[current_year][current_month][:parents][p.name][:subcategories][sub.name][:budget] %>
          <% sub_actualAmount  = data[current_year][current_month][:parents][p.name][:subcategories][sub.name][:actual] %>
          <% sub_balanceAmount = data[current_year][current_month][:parents][p.name][:subcategories][sub.name][:balance] %>

          <div class="<%= dom_id sub %> text-right">
            <%= sub_budgetAmount == 0 ? "" : presentableNum(sub_budgetAmount) %>
          </div>
          <div class="<%= dom_id sub %> text-right">
            <%= sub_actualAmount == 0 ? "" : (link_to presentableNum(sub_actualAmount), trxes_path(period: date, category_id: sub)) %>
          </div>
          <div class="<%= dom_id sub %>">
            <% ledger = Ledger.find_by(date:Date.new(current_year,current_month),category:sub) %>
            <% if ledger.nil? %>
              <span class="float-right <%= "rounded-lg px-1 bg-[#f8e4e1] text-[#9d4d4b]" if sub_balanceAmount < 0 %>">
                <%= presentableNum(sub_balanceAmount)  %>
              </span>
            <% else %>
              <%= link_to edit_ledger_path(ledger), data: {turbo_frame: 'modal'} do %>
                <span class="float-right <%= "rounded-lg px-1 bg-[#f8e4e1] text-[#9d4d4b]" if sub_balanceAmount < 0 %>">
                  <%= presentableNum(sub_balanceAmount)  %>
                  <% if ledger.carry_forward_negative_balance? && (sub_balanceAmount < 0) %>
                    <svg xmlns="http://www.w3.org/2000/svg" data-sidebar-target="budgetListArrow" class="h-5 w-5 inline-block" viewBox="0 0 16 16" fill="currentColor" title="account_arrow">
                      <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                      </svg>
                  <% end %>
                </span>
              <% end %>
            <% end %>

          </div>
        <% end %>
      <% end %>

    </div>
</div>