<div id="budget-detail" class="grid grid-cols-[1fr_max-content_max-content_max-content]" >
  <% currentParent = ""; Category.top_level.not_hidden.budget.each do |p| %>
    <% parentData = @currentData[@given_date.year][@given_date.month][:parents][p.name] %>

    <div class="contents parent-group">
      <% budgetAmount = parentData[:total][:budget] %>
      <% actualAmount = parentData[:total][:actual] %>
      <% balanceAmount = parentData[:total][:balance] %>

      <div id="parent_<%= dom_id p %>" class="contents">
        <div class="p-2 whitespace-nowrap overflow-hidden text-ellipsis sticky top-0 font-bold bg-white">
          <%= p.name %>
        </div>
        <div class="py-2 sticky top-0 bg-white text-right">
          <div class="text-xs leading-2">Budgeted</div>
          <div class="leading-3 font-bold"><%=presentableNumDollar(budgetAmount) %></div>
        </div>

        <%= link_to trxes_path(period: @given_date, parent_id: p), 
          class: "p-2 sticky top-0 bg-white text-right" do %>
          <div class="text-xs leading-2">Actual</div>
          <div class="leading-3 font-bold"><%=presentableNumDollar(actualAmount) %></div>
        <% end %>

        
        <div class="p-2 sticky top-0 bg-white text-right">
          <div class="text-xs leading-2">Available</div>
          <div class="leading-3 font-bold"><%=presentableNumDollar(balanceAmount) %></div>
      </div>

      <% p.subcategories.not_hidden.each do |sub| %>
        <% sub_data = parentData[:subcategories][sub.name] %>
        <% sub_budget = sub_data[:budget] %>
        <% sub_actual = sub_data[:actual] %>
        <% sub_balance = sub_data[:balance] %>

        <div id="sub_<%= dom_id sub %>" class="contents">
          <div class="p-2 bg-white whitespace-nowrap overflow-hidden text-ellipsis text-sm font-bold"><%= sub.name %></div>
          <div class="py-2 bg-white text-right font-bold text-sky-500"><%= presentableNum(sub_budget) %></div>
          
          <%= link_to trxes_path(period: @given_date, category_id: sub),
            class: "py-2 bg-white text-right font-bold text-sky-500" do %>
            <%= presentableNum(sub_actual) %>
          <% end %>
          
          <div class="p-2 bg-white text-right">
            <span class="font-bold <%= "px-2 py-1 bg-red-600 rounded-lg text-white" if sub_balance < 0%>">
              <%= presentableNum(sub_balance) %>
            </span>
          </div>  
        </div>
      <% end %>

    </div>
  <% end %>

</div>