<!-- Drop down top container -->
<div class="grow basis-0 flex justify-end">
  <div class="relative" data-controller="dropdown">
    <div class="select-none"
         data-action="click->dropdown#toggle click@window->dropdown#hide"
         data-dropdown-target="button"
         role="button" 
         tabindex="0" >
      <span class="appearance-none flex items-center inline-block text-sky-500 font-bold">
        <%= inline_svg_tag "icons/ellipsis-circle.svg", class: "h-6 w-6 fill-current", aria_hidden: true %>
      </span>
    </div>
    <!-- BEGIN Menu section -->
    <div data-dropdown-target="menu" class="absolute right-0 mt-2 hidden z-10">
      <div class="bg-white shadow rounded border overflow-hidden divide-y">
        <!-- Add / Edit budget logic -->
        <% if Trx.budgetItems.period(@given_date).empty? %>
          <%= link_to new_trx_path(trx: {date: "#{@given_date}",
                                memo: "Budget",
                                vendor_id: "#{Vendor.find_by(name: "Budget").id}",
                                account_id: "#{Account.find_by(name: "Budget").id}",
                                category_id: "#{Category.find_by(name: "Split").id}"
                              }), 
              data: { action:"click->dropdown#toggle click->slideover#open", turbo_frame:"slideover" },
              class: 'p-2 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap flex items-center gap-2 justify-between' do %>
                <span>
                  Create Budget
                </span>
              <%= inline_svg_tag "icons/pencil.svg", class: "h-4 w-4 fill-current", aria_hidden: true %>
          <% end %>
        <% else %>
          <%= link_to edit_trx_path(Trx.budgetItems.period(@given_date).first), 
              data: { action:"click->dropdown#toggle click->slideover#open", turbo_frame:"slideover" },
              class: 'p-2 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap flex items-center gap-2 justify-between' do %>
                <span>
                  Edit Budget
                </span>
              <%= inline_svg_tag "icons/pencil.svg", class: "h-4 w-4 fill-current", aria_hidden: true %>
          <% end %>
        <% end %>

          <!-- Note Section -->
          <%= link_to '#', 
            data: {action: "click->dropdown#toggle"},
            class: 'p-2 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap flex items-center gap-2 justify-between' do %>
              <span>
                Note
              </span>
              <%= inline_svg_tag "icons/file-text.svg", class: "h-4 w-4 fill-current", aria_hidden: true %>
          <% end %>
          <!-- Auto-Fill Budget Section -->
          <%= link_to '#', 
            data: {action: "click->dropdown#toggle"},
            class: 'p-2 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap flex items-center gap-2 justify-between' do %>
              <span>
                Auto-fill Budget
              </span>
              <%= inline_svg_tag "icons/bolt.svg", class: "h-4 w-4 fill-current", aria_hidden: true %>
          <% end %>
      </div>
    </div>
  </div>
</div>