<div class="grow bg-white">
  <%= form_with(model: vendor) do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <%= f.submit class:"cursor-pointer border border-black rounded"%>
    <% unless action_name == 'new' %>
    <div class="m-2" >
      <%= link_to 'Delete', vendor_path(vendor), class: "m-2 p-2 rounded font-bold text-white bg-red-700", 
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?", action: "click->slideover#disconnect" }
      %>
    </div>
    <% end %>
  <% end %>
</div>