<!-- Drop down top container -->
<div class="flex justify-end">
  <div class="" data-controller="dropdown">
    <div class="select-none"
         data-action="click->dropdown#toggle click@window->dropdown#hide"
         data-dropdown-target="button"
         role="button" 
         tabindex="0" >
      <span class="appearance-none flex items-center inline-block">
        Account
      </span>
    </div>
    <!-- BEGIN Menu section -->
    <div data-dropdown-target="menu" class="absolute left-2 mt-2 hidden z-10">
      <div class="shadow shadow-black rounded border ">
        <div class="p-2 bg-[#f5f5f5] border-b border-black">
          <%=  sort_link(column: "accounts.name", label: "Sort") %>
        </div>
        <div class="">
          <div id="account-filter-form" class="flex justify-between gap-2">

            <%= form_with url:'#', method: :get, id:'account_filter-form', class:'grow' do |form| %>
              <div class="p-2 bg-white ">

                <%= form.collection_check_boxes :account_id, 
                          Account.not_budget_type.order('on_budget desc, LOWER(name)'), 
                          :id, 
                          :name do |account| %>
                  <div>
                    <%= account.check_box %>
                    <%= account.label %>
                  </div>
                <% end %>
              </div>
              <div class="p-2 border-t-2 border-slate-400 bg-[#e7e7e7] flex justify-start gap-4">
                <%= form.button class: "p-2 rounded-md border border-black font-bold bg-gradient-to-t hover:bg-gradient-to-b from-[#bee877] to-slate-200" do %>
                  <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" class="inline rounded-full bg-white fill-[#5c9e11]">
                    <path d="M8 0c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7.1 11.7l-4.2-4.1 1.4-1.4 2.7 2.7 5-4.9 1.4 1.4-6.3 6.3z"></path>
                  </svg>
                  <span class="text-black">OK</span>
                <% end %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>