<!-- Drop down top container -->
<div class="grow basis-0 flex justify-end">
  <div class="relative" data-controller="dropdown">
    <div class="select-none"
         data-action="click->dropdown#toggle click@window->dropdown#hide"
         data-dropdown-target="button"
         role="button" 
         tabindex="0" >
      <span class="appearance-none flex items-center inline-block text-sky-500 font-bold">
        <%= inline_svg_tag "icons/ellipsis-circle.svg", class: "h-6 w-6 fill-current", aria_hidden: true %>
      </span>
    </div>
    <!-- BEGIN Menu section -->
    <div data-dropdown-target="menu" class="absolute right-0 mt-2 z-10 hidden">
      <div class="bg-white shadow rounded border overflow-hidden divide-y">
          <%= link_to edit_account_path(account), 
            data: {action: "click->dropdown#toggle click->slideover#open", turbo_frame: 'slideover'}, 
            class: 'p-2 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap flex items-center gap-2 justify-between' do %>
              <span>
                Edit Account
              </span>
              <%= inline_svg_tag "icons/pencil.svg", class: "h-4 w-4 fill-current", aria_hidden: true %>
          <% end %>
          <%= link_to '#', 
            data: {action: "click->dropdown#toggle"},
            class: 'p-2 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap flex items-center gap-2 justify-between' do %>
              <div>
                <div>Reconcile</div>
                <div class="text-slate-700 text-xs">Reconciled never</div>
              </div>
              <%= inline_svg_tag "icons/lock.svg", class: "h-4 w-4 fill-current", aria_hidden: true %>
          <% end %>
          <%= link_to '#', 
            data: {action: "click->dropdown#toggle"},
            class: 'p-2 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap flex items-center gap-2 justify-between' do %>
              <span>
                Hide Reconciled
              </span>
              <%= inline_svg_tag "icons/eye-slash.svg", class: "h-4 w-4 fill-current", aria_hidden: true %>
          <% end %>
          <%= link_to clear_path,
            class: 'p-2 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap flex items-center gap-2 justify-between' do %>
              <span>
                Clear All Filters
              </span>       
          <% end %>
      </div>
    </div>
  </div>
</div>