<div id="<%= dom_id trx %>" data-controller="trx-toggle" data-trx-toggle-url-value="<%= trx_path(trx) %>">

  <!-- Trx Date section-->
  <div class="px-2 border-t-[2px] border-gray-400 bg-white text-xs font-bold">
    <%= trx.date.strftime("%b %d, %Y") %>
  </div>
  <!-- Trx section-->
  <div class="trx-section p-1 border-t-[1px] hover:bg-slate-200 flex">
    <div id="left" data-action="click->trx-toggle#toggleSelect">
      <svg data-trx-toggle-target="circle" class="left-side p-1 w-[24px] stroke-sky-500" viewBox="-3 -3 24 24" stroke="#444" fill="#FFF" title="circle">
        <path d="M8 0c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8z">
      </svg>
    </div>
    <div id="center-trx" class="grow min-w-0">
      <div class="flex justify-between">
        <div class="text-lg text-ellipsis overflow-hidden whitespace-nowrap text-[#2992c2] font-bold">
          <%= trx.vendor&.name %>
        </div>
        <%= link_to(presentableNum(trx.amount), edit_trx_path(trx),
          class:"trx-amount shrink-0 px-1 font-bold text-2xl 
            #{ (params[:category_id] && trx.category_id != params[:category_id].to_i) ? 
                "text-gray-400 line-through decoration-2 decoration-slate-700" :
                (trx.amount <0 ? "text-red-500" : "text-green-500")  }",
          data: {trx_toggle_target:"amount", action:"click->slideover#open", turbo_frame:"slideover" } ) %>
      </div>
      <div class="flex justify-between">
        <div class="grow-0 flex justify-between items-center text-gray-400">
          <%= link_to trx.category&.name, trxes_path(category_id: trx.category), class: "px-2 text-gray-400 font-bold" %>
          <% unless trx.lines.empty? %>
            <div data-action="click->trx-toggle#toggle"
                class="h-6 p-1">
              <svg class="svg-arrow w-4 h-4 <%= "rotate-90" if params[:category_id] && trx.lines.any? {|line| line.category_id == params[:category_id].to_i } %>" viewBox="0 0 16 16" fill="currentColor" title="chevron-right">
                <path d="M13.1 8l-8 8-2.2-2.1 5.9-5.9-5.9-5.9 2.2-2.1z"/>
              </svg>
            </div>
          <% end %>
        </div>
        <div class="text-gray-400 font-bold">
          <%= trx.account&.name %>
        </div>
      </div>
    </div>
    <div id="right" class="py-1 pl-1">
      <input type="checkbox"
                  data-action="trx-toggle#toggleCleared"
                  data-trx-toggle-target="cleared"
                  <%= "checked" if trx.cleared %>
      >
    </div>


  </div>

  <!-- Trx Lines section-->
  <% unless trx.lines.empty? %>
    <div data-trx-toggle-target="lines"
        class="lines <%= "hidden" unless params[:category_id] %> px-3 py-1 border-t divide-y text-xs text-gray-500 font-bold">
      <% trx.lines.each do |line| %>
        <div class="flex justify-between">
          <% if (params[:category_id] && line.category_id != params[:category_id].to_i) %>
            <span class="line-through font-normal">
              <%= link_to line.category.name, trxes_path(category_id: line.category) %>
            </span>
            <span class="line-through font-normal">
              <%= presentableNum(line.amount) %>
            </span>
          <% elsif (params[:category_id] && line.category_id == params[:category_id].to_i) %>
            <span class="text-black">
              <%= link_to line.category.name, trxes_path(category_id: line.category) %>
            </span>
            <span class="px-1 rounded-md text-white <%=(line.amount <0 ? "bg-red-600" : "bg-green-600")%>">
              <%= presentableNum(line.amount) %>
            </span>
          <% else %>
            <%= link_to line.category.name, trxes_path(category_id: line.category) %>
            <span><%= presentableNum(line.amount) %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>